# Prevent directory listing
Options -Indexes

# Enable RewriteEngine
RewriteEngine On

# Ensure the base URL is correct
RewriteBase /data_privacy/

# Redirect requests to the index.php if the requested file or directory does not exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]

# Set the default file to be served
DirectoryIndex index.php

