@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --navbar-bg: #ffffff;
    --navbar-shadow: rgba(0, 0, 0, 0.1);
    --nav-link-color: #333333;
    --nav-link-active-color: #FF5722;
    --body-bg: #F5F5F5;
    --button-color: #FFAC0C;
    --blue-overlay: rgba(90, 174, 214, 0.5);
    --footer-bg: #202124;
    --big-title: #202124;
    --input-bg: rgba(206, 199, 199, 0.4);
    --heading-color: #FF5722;
    --card-box-shadow: #468EEE;
    --hightlights: #468EEE;
}

body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--body-bg);
}




button {
    background-color: var(--button-color);
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
}

input {
    background-color: var(--input-bg);
    border: 1px solid #cccccc;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
}

.card {
    box-shadow: 0 4px 8px var(--card-box-shadow);
    border-radius: 8px;
    padding: 20px;
    background-color: #ffffff;
}
.navbar {
    background-color: var(--navbar-bg);
    box-shadow: 0 2px 5px var(--navbar-shadow);
    width: 100%;
    z-index: 1000;
    transition: top 0.3s; /* Smooth transition for sticky effect */
}

.navbar.sticky {
    position: fixed;
    top: 0;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    width: 180px;
}

.logo img {
    width: 100%;
    height: 70px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-link {
    color: var(--nav-link-color);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.nav-link.active {
    color: var(--nav-link-active-color);
}

.nav-link:hover {
    text-decoration: underline;
}

/* Hide modal nav and show nav links on larger screens */
@media (min-width: 769px) {
    .modal-nav {
        display: none;
    }

    .nav-links {
        display: flex;
    }

    .menu-icon {
        display: none;
    }
  
}

/* Show modal nav and hide nav links on smaller screens */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .modal-nav {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1001;
    }

    .modal-nav.open {
        display: flex;
    }

    .modal-nav .nav-link {
        color: white;
        font-size: 24px;
        margin: 10px 0;
    }

    .modal-close {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        color: white;
        font-size: 36px;
    }
    .hero-content {
        position: relative;
        z-index: 1; 
       margin: 20px;
        
    }
 
}



/* Hero Section Styles */
.hero {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--blue-overlay); 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
}

.hero-content {
    position: relative;
    z-index: 1; 
    max-width: 800px;
    
}

.hero h1 {
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 20px;
    line-height: 1.2;
    color: #FFFFFF; 
}

.hero p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 30px;
    color:   #FFFFFF; /* Use link color for text */
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1rem;
    color: #ffffff;
    background-color: var(--button-color); /* Use button color */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: darken(orange, 50%); /* Darken button color on hover */
}

/* Highlight Section Styles */
.highlights {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.highlight-card {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px); /* 3 cards per row */
    box-sizing: border-box;
    cursor: pointer;
}

.highlight-icon {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.highlight-text {
    font-size: 16px;
    color:  var( --hightlights);
    font-weight: 600;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .highlight-card {
        width: 70%; /* Full width for mobile */
        justify-content: center; /* Center contents */
        align-items: center;
        justify-items: center;
        margin: 0 auto;

    }
}/* Base styles for testimonials */
.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
}

.testimonial-title {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
    color: var(--big-title);
}

.chevron {
    cursor: pointer;
    font-size: 48px;
    color: var(--hightlights); /* Blue color for the chevrons */
    background-color: #ffffff; /* White circular background */
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    user-select: none;
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    z-index: 10; /* Ensure it's above other elements */
}

.chevron-left {
    left: 10px; /* Adjust to fit within container */
}

.chevron-right {
    right: 10px; /* Adjust to fit within container */
}

.testimonial-cards-wrapper {
    overflow: hidden;
    width: 100%;
    max-width: 900px; /* Adjust based on design needs */
    position: relative; /* Ensure the chevrons position properly */
}

.testimonial-cards {
    display: flex;
    transition: transform 0.3s ease-in-out;
    width: fit-content; /* Ensure width fits the content */
}

.testimonial-card {
    display: flex;
    flex: 0 0 300px; /* Card width */
    height: 177px; /* Card height */
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Bottom shadow */
    border: 1px solid #dddddd;
    border-radius: 16px;
    margin: 10px 40px;
}

.testimonial-left {
    flex-shrink: 0;
    padding: 10px;
}

.testimonial-image {
    width: 95px;
    height: 85px;
    overflow: hidden;
    border-radius: 30%;
}

.testimonial-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.stars {
    display: flex;
    align-items: center;
    margin: 2px 0;
}

/* Responsive styles for screens with max-width of 769px */
@media (max-width: 769px) {
    .testimonials {
        padding: 0 20px; /* Add padding for better spacing */
    }

    .testimonial-card {
        flex: 0 0 50%; /* Each card takes full width of the container */
        margin: 10px; /* Remove margin for better fit on small screens */
    }

    .chevron {
        font-size: 36px; /* Adjust size */
        padding: 8px; /* Adjust padding */
    }

    .chevron-left {
        left: 10px; /* Ensure visibility */
    }

    .chevron-right {
        right: 10px; /* Ensure visibility */
    }
}

/* wwdo */
.what-we-do {
    text-align: center;
    padding: 40px 20px;
}

.section-title {
    font-size: 32px;
    margin-bottom: 70px;
    color: var(--big-title);
}

.blue-rectangle {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    background: linear-gradient(to bottom, #468EEE, #A4C8F6);
    width: 600px;
    height: 250px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: visible;
    position: relative;
}



.left-div {
    position: relative;
    width: 30%;
    /* margin: 0 auto; */
    overflow: visible;
}
.rectangle-image {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: visible;
    z-index: 10;
    width: 80%;
    height: 330px;
    object-fit: cover;
    transform: translateY(-10%); /* Adjust this value to control how much the image overflows at the top */
}



.right-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    padding-left: 40px;
    width: 70%;
    color: white;
    text-align: left;
}

.right-div p {
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.get-started {
    background-color: orange;
    color: white;
}

.resources {
    background-color: transparent;
    color: white;
    border: 3px solid white;
}

@media (max-width: 769px) {
    .blue-rectangle {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .left-div, .right-div {
        width: 100%;
    }

    .rectangle-image {
        display: none;
        width: 100%;
        height: auto;
    }

    .right-div {
        padding: 20px 10px;
        align-items: center;
        text-align: center;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        width: 100%;
        margin-bottom: 10px;
    }
}

        .faq-section {
        text-align: center;
        padding: 20px;
    }
    .faq-section h2{
        color: var(--big-title);
        font-size: 32px;
    }
    
    .faq-container {
        max-width: 600px;
        margin: 0 auto;
    }
    
    .faq-item {
        background-color: #FFFFFF;
        margin: 10px 0;
        padding: 0;
        border-radius: 8px;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }
    .faq-item hr{
        width: 80%;
    }
    
    .faq-question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        cursor: pointer;
        border: none;
        background-color: #FFFFFF;
    }
    .faq-question h3{
        color: var(--big-title);
    }
    
    .faq-answer {
        padding: 15px;
        display: none;
        border-top: 1px solid rgb(133, 132, 132);
        width: 90%;
        margin: 0 auto;
    }
    
    .faq-answer p {
        margin: 0;
    }
    
    .faq-chevron {
        cursor: pointer;
        transition: transform 0.3s;
        color: #FFFFFF;
        background-color: #202124;
        font-size: 32px;
        border-radius: 50%;
    }
    
    .faq-chevron.rotate {
        transform: rotate(180deg);
    }
    
    /* Responsive adjustments */
    @media (max-width: 769px) {
        .faq-container {
            width: 100%;
            padding: 0 10px;
        }
    }





/* Footer Styles */
.footer {
    background-color: var(--footer-bg);
    color: #ffffff;
    padding: 100px 20px 10px 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

/* Flexbox properties for responsive design */
.footer-column {
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin: 10px;
    
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 35px;
    color: #FFFFFF;
    font-weight: 800;
}

.footer-column p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin: 10px 0;
    display: flex; /* Align items horizontally */
    align-items: center; /* Center-align items vertically */
}

.footer-column ul li a {
    color: #ffffff;
    text-decoration: none;
    display: flex; /* Align icon and text horizontally */
    align-items: center; /* Center-align icon and text vertically */
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-column ul li   .material-symbols-outlined {
    margin-right: 8px;
    vertical-align: middle;
    padding-right: 12px;
    color: var(--heading-color);
}

/* Footer Bottom Styles */
.footer-bottom {
    background-color: var(--footer-bg);
    color: #ffffff;
    text-align: center;
    padding: 10px 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .footer-column {
        flex: 1 1 50%; /* Two columns per row */
    }
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-column {
        margin-bottom: 20px;
        align-items: center; 
        flex: 1 1 100%; 
        margin: 0;
    }
}







/* UNDER DEV */
.development-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
}

.development-content {
    background-color: #ffffff;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.development-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.development-content p {
    font-size: 18px;
    color: #555;
}